{% extends 'base.html'%}

{% block content %}
<div>
  <h2>
    Personaje: <b>{{ name }}</b>
  </h2>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Estado</th>
        <th scope="col">Especie</th>
        <th scope="col">Tipo</th>
        <th scope="col">Género</th>
        <th scope="col">Origen</th>
        <th scope="col">Lugar</th>
        <th scope="col">Episodios</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{status}}</td>
        <td>{{species}}</td>
        <td>{{type}}</td>
        <td>{{gender}}</td>
        <td>
          {% ifequal origin_id '' %}
            {{origin}}
          {% else %}
            <a href='/location/{{ origin_id }}'> {{origin}} </a>
          {% endifequal %}
        </td>
        <td>
          {% ifequal location_id '' %}
            {{location}}
          {% else %}
            <a href='/location/{{ location_id }}'> {{ location }} </a>
          {% endifequal %}
        </td>
        <td>
          {% ifequal episodes '' %}
          {% else %}
            {% for j in episodes %}
              <li>
                <a href='/episode/{{ j.id }}'>
                  {{ j.name }}
                </a>
              </li>
            {% endfor %}
          {% endifequal %}
        </td>
        <td><img src="{{ image }}"></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}